<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>Client</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top:25px;" >
    <h1>Angular 15 is used</h1>
    <mat-divider></mat-divider>
    <p>Follow the following steps</p>
    <mat-list>
      <mat-list-item >
        <span matListItemTitle>Employees role user</span>
        <span matListItemLine>Username: Demo Password: Test#123</span> 
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Administrator role user</span>  
        <span matListItemLine>Username: Admin Password: Test#123</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
 
 <mat-card-footer>
  Asib Mostakim Fony
 </mat-card-footer>
</mat-card>
